input[type="checkbox"], input[type="radio"] {
    width: 16px;
    height: 16px;
}

[name][data-id][data-model].has-changes {
    background-color: #ffa;
    outline: 1px solid #ffa;
}

tr.translation[data-id] input[data-lang].has-changes {
    background-color: #ffa;
}

div.panel.full-screen > .panel-body {
    height: calc(100vh - 133px);
    overflow-y: auto;
}

tr[data-id] {
    transition: 1s;
}

tr[data-id].new {
    font-weight: bold;
}

table > tbody > tr[data-id] > td {
    text-align: center;
    vertical-align: middle;
}

tr[data-id]:hover {
    background-color: #eef !important;
    cursor: pointer;
    transition: .25s;
}

tr[data-id].selected {
    background-color: #ddf !important;
}

table.table > thead > tr > th {
    background-color: #ccc;
    text-align: center;
    padding: 1px;
}

ul.translation-sections > li > a {
    padding: 5px 25px;
}

tr.contact[data-id] > td {
    padding: 2px;
}

tr.contact[data-id] input[type="text"] {
    height: 22px;
}

div#map[data-lat][data-lng][data-zoom] {
    height: 300px;
}

iframe {
    width: 100%;
    height: calc(100vh - 125px);
    display: none;
    outline: 1px dotted silver;
}

dl.geo-info {

}

dl.geo-info > dt {
    display: inline-block;
    width: 100px;
    background-color: #eef;
    text-align: right;
    padding-right: 5px;
}

dl.geo-info > dd {
    display: inline-block;
    width: calc(100% - 105px);
    text-align: center;
}