div.content-field button[data-lang] {
    padding: 0 10px;
    font-size: 10px;
}

div.content-field button[data-lang].has-content {
    font-weight: bold;
}

div.content-field.has-changes {
    background-color: #ffa;
    outline: 1px solid #ffa;
}