.position-relative {
  position: relative; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (max-width: 1279px) {
  .column-on-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 740px) {
  .column-on-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 740px) {
  .wrap-on-mobile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 740px) {
  .justify-center-on-mobile {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 740px) {
  .justify-start-on-mobile {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 767px) {
  .align-center-on-mobile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.align-center-on-tablet {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (max-width: 767px) {
  .align-self-start-on-mobile {
    -ms-flex-item-align: start;
    align-self: flex-start; } }

.text-center {
  text-align: center; }

.h2px {
  height: 2px; }

.h4px {
  height: 4px; }

.h6px {
  height: 6px; }

.h8px {
  height: 8px; }

.h10px {
  height: 10px; }

.h12px {
  height: 12px; }

.h16px {
  height: 16px; }

.h18px {
  height: 18px; }

.h20px {
  height: 20px; }

.h24px {
  height: 24px; }

.h32px {
  height: 32px; }

.h64px {
  height: 64px; }

.hidden {
  display: none; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) {
  .visible-xs {
    display: none; } }

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1140px) {
    .container {
      max-width: 100%;
      padding: 0 15px; } }
