@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext");
@import url(../../css/hamburgers.min.css);
.btn-type-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 56px;
  max-width: 350px;
  background: #F39C12;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #272727;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-1:hover {
    background: #F89B08;
    -webkit-box-shadow: 0px 4px 50px rgba(241, 196, 15, 0.2);
    box-shadow: 0px 4px 50px rgba(241, 196, 15, 0.2); }

.btn-type-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 40px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-2:hover {
    background: #F39C12; }

.btn-type-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 39px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-3:hover {
    background: #F89B08; }

.btn-type-4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 39px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-4:hover {
    background: #fff;
    color: #1A1A1A; }

.btn-type-arrow-right {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 28px;
  margin: 0 50px;
  cursor: pointer; }
  .btn-type-arrow-right:before {
    display: inline-block;
    width: 15px;
    height: 28px;
    content: url("../../img/arrow-right.svg"); }
  .btn-type-arrow-right:hover {
    content: url("../../img/arrow-right-hovered.svg"); }

.btn-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 49px;
  height: 32px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.87);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn-lang.active, .btn-lang:hover {
    color: #F39C12;
    background: rgba(243, 156, 18, 0.08); }

.btn-header-nav {
  padding: 0;
  margin: 0 0;
  background: none;
  color: rgba(39, 39, 39, 0.75);
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.btn-type-arrow-left {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 28px;
  margin: 0 48px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer; }
  .btn-type-arrow-left:before {
    display: inline-block;
    width: 15px;
    height: 28px;
    content: url("../../img/arrow-right.svg"); }
  .btn-type-arrow-left:hover {
    content: url("../../img/arrow-right-hovered.svg"); }

.btn-close-modal {
  display: inline-block;
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNUwxMiAxMC41OUw2LjQxIDVMNSA2LjQxTDEwLjU5IDEyTDUgMTcuNTlMNi40MSAxOUwxMiAxMy40MUwxNy41OSAxOUwxOSAxNy41OUwxMy40MSAxMkwxOSA2LjQxWiIgZmlsbD0iI0YzOUMxMiIvPgo8L3N2Zz4K") center center no-repeat;
  background-size: contain; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.font-style-primary {
  font-family: "Poppins", sans-serif; }

.font-style-secondary {
  font-family: "Roboto", sans-serif; }

.font-size-10 {
  font-size: 10px; }

.font-size-11 {
  font-size: 11px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-15 {
  font-size: 15px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-24 {
  font-size: 24px; }

.font-size-27 {
  font-size: 27px; }

.font-size-28 {
  font-size: 28px; }

.font-size-30 {
  font-size: 30px; }

.font-size-40 {
  font-size: 40px; }

.font-size-44 {
  font-size: 44px; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.color-white {
  color: #fff !important; }

.color-orange {
  color: #F39C12 !important; }

.color-black {
  color: #121212 !important; }

.color-deep-black {
  color: #000 !important; }

.hover-color-white:hover {
  color: #fff !important; }

.hover-color-orange:hover {
  color: #F39C12 !important; }

p {
  font-size: inherit; }

.h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  color: #1A1A1A;
  max-width: 680px; }
  .h1 span {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 86px;
    color: #F39C12; }
  @media (max-width: 480px) {
    .h1 {
      font-size: 42px;
      line-height: 120%; } }

.h2 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #121212;
  text-transform: uppercase; }
  @media (max-width: 960px) {
    .h2 {
      font-size: 30px; } }

.h3 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.h4 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #1A1A1A; }

.with-numbering .number {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  font-size: 64px;
  line-height: 96px;
  font-weight: 400;
  color: #F39C12; }
  .with-numbering .number:first-letter {
    color: #fff !important; }

.position-relative {
  position: relative; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (max-width: 1279px) {
  .column-on-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 740px) {
  .column-on-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 740px) {
  .wrap-on-mobile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 740px) {
  .justify-center-on-mobile {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 740px) {
  .justify-start-on-mobile {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 767px) {
  .align-center-on-mobile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.align-center-on-tablet {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (max-width: 767px) {
  .align-self-start-on-mobile {
    -ms-flex-item-align: start;
    align-self: flex-start; } }

.text-center {
  text-align: center; }

.h2px {
  height: 2px; }

.h4px {
  height: 4px; }

.h6px {
  height: 6px; }

.h8px {
  height: 8px; }

.h10px {
  height: 10px; }

.h12px {
  height: 12px; }

.h16px {
  height: 16px; }

.h18px {
  height: 18px; }

.h20px {
  height: 20px; }

.h24px {
  height: 24px; }

.h32px {
  height: 32px; }

.h64px {
  height: 64px; }

.hidden {
  display: none; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) {
  .visible-xs {
    display: none; } }

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1140px) {
    .container {
      max-width: 100%;
      padding: 0 15px; } }

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background: rgba(0, 0, 0, 0.33);
  z-index: 9; }
  .modal.active {
    visibility: visible; }
  .modal .inner {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.16)), to(rgba(255, 255, 255, 0.16))), #121212;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14); }

.thq-modal .inner {
  max-width: 340px;
  padding: 24px 61px 24px 24px; }
  @media (max-width: 480px) {
    .thq-modal .inner {
      width: 100%; } }

.thq-modal .title {
  opacity: 0.8; }

.thq-modal .description {
  opacity: 0.8;
  line-height: 120%;
  letter-spacing: 0.15px; }

.order-modal .inner {
  padding: 40px 30px; }

.order-modal .mdc-text-field {
  margin-bottom: 32px; }

.order-modal .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal .mdc-text-field__input {
      width: 100%; } }

.order-modal .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal .mdc-floating-label--float-above {
  color: #F39C12 !important; }

.order-modal-extended .inner {
  padding: 40px 30px; }

.order-modal-extended .mdc-text-field {
  margin-bottom: 32px; }

.order-modal-extended .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal-extended .mdc-text-field__input {
      width: 100%; } }

.order-modal-extended .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal-extended .mdc-floating-label--float-above {
  color: #F39C12 !important; }
