.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background: rgba(0, 0, 0, 0.33);
  z-index: 9; }
  .modal.active {
    visibility: visible; }
  .modal .inner {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.16)), to(rgba(255, 255, 255, 0.16))), #121212;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14); }

.thq-modal .inner {
  max-width: 340px;
  padding: 24px 61px 24px 24px; }
  @media (max-width: 480px) {
    .thq-modal .inner {
      width: 100%; } }

.thq-modal .title {
  opacity: 0.8; }

.thq-modal .description {
  opacity: 0.8;
  line-height: 120%;
  letter-spacing: 0.15px; }

.order-modal .inner {
  padding: 40px 30px; }

.order-modal .mdc-text-field {
  margin-bottom: 32px; }

.order-modal .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal .mdc-text-field__input {
      width: 100%; } }

.order-modal .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal .mdc-floating-label--float-above {
  color: #F39C12 !important; }

.order-modal-extended .inner {
  padding: 40px 30px; }

.order-modal-extended .mdc-text-field {
  margin-bottom: 32px; }

.order-modal-extended .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal-extended .mdc-text-field__input {
      width: 100%; } }

.order-modal-extended .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal-extended .mdc-floating-label--float-above {
  color: #F39C12 !important; }
