body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.font-style-primary {
  font-family: "Poppins", sans-serif; }

.font-style-secondary {
  font-family: "Roboto", sans-serif; }

.font-size-10 {
  font-size: 10px; }

.font-size-11 {
  font-size: 11px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-15 {
  font-size: 15px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-24 {
  font-size: 24px; }

.font-size-27 {
  font-size: 27px; }

.font-size-28 {
  font-size: 28px; }

.font-size-30 {
  font-size: 30px; }

.font-size-40 {
  font-size: 40px; }

.font-size-44 {
  font-size: 44px; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.color-white {
  color: #fff !important; }

.color-orange {
  color: #F39C12 !important; }

.color-black {
  color: #121212 !important; }

.color-deep-black {
  color: #000 !important; }

.hover-color-white:hover {
  color: #fff !important; }

.hover-color-orange:hover {
  color: #F39C12 !important; }

p {
  font-size: inherit; }

.h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  color: #1A1A1A;
  max-width: 680px; }
  .h1 span {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 86px;
    color: #F39C12; }
  @media (max-width: 480px) {
    .h1 {
      font-size: 42px;
      line-height: 120%; } }

.h2 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #121212;
  text-transform: uppercase; }
  @media (max-width: 960px) {
    .h2 {
      font-size: 30px; } }

.h3 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.h4 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #1A1A1A; }

.with-numbering .number {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  font-size: 64px;
  line-height: 96px;
  font-weight: 400;
  color: #F39C12; }
  .with-numbering .number:first-letter {
    color: #fff !important; }
