div.media-field {
    /*border: 1px dotted silver;*/
}

div.crop-view {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999;
}

div.crop-view img.original-image {
    width: 100%;
}

div.crop-view > div.source {
    width: 75%;
    float: left;
}

div.crop-view > div.controls {
    width: 25%;
    float: right;
}

div.media-field img, div.crop-view img {
    width: 100%;
}

div.media-field div.image-info {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
}

div.crop-view div.ratios {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

div.crop-view div.ratios > fieldset {
    padding: 10px;
    margin: 15px 5px;
    background-color: #fdd;
    cursor: pointer;
}

div.crop-view div.ratios > fieldset:hover > legend {
    background-color: #fdd;
    transition: .5s;
}

div.crop-view div.ratios > fieldset.selected {
    background-color: #dfd;
}

div.crop-view div.ratios > fieldset > legend {
    background-color: #ddd;
    transition: .33s;
    margin-bottom: 5px;
}

div.crop-view div.controls > button.crop-image {
    width: 66%;
}

div.crop-view div.controls > button.crop-cancel {
    width: 33%;
}

/** Gallery **/
div.gallery-field > div.panel {
    margin: 0;
}

div.gallery-field .panel-body {
    padding: 0;
}

div.gallery-field .panel-footer {
    padding: 5px;
}

div.gallery-field progress {
    display: none;
    width: 100%;
    height: 24px;
}

div.gallery-field div.controls {
    display: none;
}

div.gallery-field div.gallery-image {
    position: relative;
    width: 12.5%;
    padding: 5px;
    float: left;
    border: 1px dotted silver;
    opacity: 0.75;
    transition: .5s;
}

div.gallery-field div.gallery-image > div.label {
    position: absolute;
    top: 5px;
    right: 5px;
}

div.gallery-field div.gallery-image:hover {
    border: 1px dotted black;
    background-color: #eee;
    opacity: 0.85;
    cursor: pointer;
}

div.gallery-field div.gallery-image.selected {
    background-color: #aaf;
    border: 1px solid black;
    opacity: 1;
    transition: .33s;
}

div.video-posters {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 99999999;
    text-align: center;
}

div.video-posters > img {
    border: 1px solid transparent;
    width: 320px;
    margin: 25px;
    opacity: .75;
    transition: 1s;
}

div.video-posters > img:hover {
    border: 1px solid black;
    transform: scale(1.33);
    opacity: 1;
    cursor: pointer;
    transition: .25s;
}

div.video-field progress {
    display: none;
    width: 100%;
    height: 12px;
}