div#type-options table > tbody > tr > td {
    padding: 2px;
    vertical-align: middle;
}
div#type-options input.input-sm {
    padding: 1px 3px;
    height: 22px;
    background-color: #fee;
    font-family: "Courier New", sans-serif;
}
div#type-options fieldset {
    border: 1px solid silver;
    box-shadow: 8px -8px 3px -5px silver;
    margin-bottom: 15px;
}
div#type-options fieldset > legend {
    padding: 2px 5px;
    background-color: #eee;
    margin-bottom: 0;
    font-size: 16px;
}