@import url(../../fonts/museo.css);
@import url(../../css/hamburgers.min.css);
a {
  color: #4735f1; }

button {
  background: none;
  border: none; }

.btn-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  color: #fff;
  font-size: 16px;
  font-family: 'museo300', sans-serif;
  font-weight: 400;
  padding: 0 24px;
  border-radius: 7px;
  background-color: #6354f4; }
  .btn-dark:hover {
    -webkit-box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    background: #fff;
    color: #6354f4; }

.btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  font-size: 16px;
  font-family: 'museo300', sans-serif;
  font-weight: 400;
  padding: 0 24px;
  border-radius: 7px;
  color: #6354f4;
  border: 1px solid #6354f4; }
  .btn-light:hover {
    -webkit-box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    background: #fff;
    color: #6354f4;
    border-color: transparent; }

.btn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 14px 40px;
  font-family: 'museo300', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 7px;
  border: 1px solid #eaeaf7;
  background-color: #fafbff;
  color: #000000;
  -webkit-transition: 0.6ms;
  -o-transition: 0.6ms;
  transition: 0.6ms;
  margin: 50px 0 70px 0; }
  .btn-more:hover {
    -webkit-box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
    -webkit-transition: 0.6ms;
    -o-transition: 0.6ms;
    transition: 0.6ms; }
  @media (max-width: 480px) {
    .btn-more {
      width: 100%;
      margin: 18px 0 39px; } }

.btn-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 179px;
  height: 45px;
  border-radius: 7px;
  background-color: #ffffff;
  -webkit-transition: 0.6ms;
  -o-transition: 0.6ms;
  transition: 0.6ms;
  color: #6354f4; }
  .btn-blog:hover {
    background-color: #6354f4;
    color: white;
    -webkit-transition: 0.6ms;
    -o-transition: 0.6ms;
    transition: 0.6ms; }

.g-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 186px;
  height: 45px;
  padding: 0 15px;
  border-radius: 7px;
  background: #fff;
  color: #000;
  border: 1px solid #000000;
  font-family: "museo300", sans-serif;
  font-size: 16px;
  font-weight: 400; }
  .g-login-btn img {
    margin-right: 8px; }

.fb-login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 186px;
  height: 45px;
  padding: 0 15px;
  border-radius: 7px;
  background: #3c5996;
  color: #fff;
  font-family: "museo300", sans-serif;
  font-size: 16px;
  font-weight: 400; }
  .fb-login-btn img {
    margin-right: 8px; }

.login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 100%;
  height: 45px;
  padding: 0 15px;
  border-radius: 7px;
  background: #fafbff;
  color: #000;
  border: 1px solid #eaeaf7;
  font-family: "museo300", sans-serif;
  font-size: 16px;
  font-weight: 400; }

.change-view .change-view-btn {
  width: 20px;
  margin-left: 10px;
  padding: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .change-view .change-view-btn.active {
    -webkit-filter: none;
    filter: none; }

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .switcher .value {
    color: #9fa4a9;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .switcher .value.active {
      color: #000; }
  .switcher .toggle-btn {
    position: relative;
    width: 45px;
    height: 25px;
    margin: 0 10px;
    border-radius: 13px;
    border: 1px solid #6752f8; }
    @media (max-width: 768px) {
      .switcher .toggle-btn {
        width: 70px;
        height: 35px;
        border-radius: 18px; } }
    .switcher .toggle-btn:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 2px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #6354f4;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: translate(2px, -50%);
      -ms-transform: translate(2px, -50%);
      transform: translate(2px, -50%); }
      @media (max-width: 768px) {
        .switcher .toggle-btn:after {
          width: 24px;
          height: 24px; } }
    .switcher .toggle-btn.active:after {
      -webkit-transform: translate(20px, -50%);
      -ms-transform: translate(20px, -50%);
      transform: translate(20px, -50%); }
      @media (max-width: 768px) {
        .switcher .toggle-btn.active:after {
          -webkit-transform: translate(38px, -50%);
          -ms-transform: translate(38px, -50%);
          transform: translate(38px, -50%); } }
    .switcher .toggle-btn input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }

h2 {
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-family: 'museo500', sans-serif; }

h3 {
  color: #000;
  font-size: 20px;
  font-family: 'museo500', sans-serif; }

h4 {
  color: #000;
  font-size: 16px;
  font-family: 'museo500', sans-serif; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none; }

.no-scroll {
  overflow: hidden; }

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }
  .container.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .container.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .container.center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox .label-text {
    font-size: 12px; }
    .checkbox .label-text a {
      color: #6354f4;
      padding-left: 5px; }
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 19px;
    width: 19px;
    border-radius: 4px;
    border: 1px solid #eaeaf7;
    background: #fafbff; }
    .checkbox .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
  .checkbox:hover input ~ .checkmark {
    background-color: #f0f0f0; }
  .checkbox input:checked ~ .checkmark {
    background-color: #6354f4; }
  .checkbox input:checked ~ .checkmark:after {
    display: block; }
  .checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .radio-box .label-text {
    padding-left: 10px;
    font-family: "museo500", sans-serif; }
  .radio-box .type-radio {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px; }
  .radio-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer; }
  .radio-box .checkmark {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #eaeaf7;
    background: #fafbff; }
    .radio-box .checkmark:after {
      content: "";
      position: absolute;
      display: none; }
  .radio-box input:checked ~ .like {
    background-color: #00ad5d; }
  .radio-box input:checked ~ .dislike {
    background-color: darkred; }
  .radio-box input:checked ~ .checkmark:after {
    display: block; }

select {
  position: relative;
  padding: 10px;
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid #eaeaf7;
  background: url("../../img/arrow_down.png") no-repeat center right 10px #fafbff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select option {
    border-bottom: 1px solid red; }

.input-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .input-label label {
    font-size: 12px;
    margin-bottom: 5px; }
  .input-label input, .input-label textarea {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #eaeaf7;
    background: #fafbff;
    padding: 7px;
    resize: none; }
    .input-label input:focus, .input-label textarea:focus {
      background: #fff; }
    .input-label input.white-bg, .input-label textarea.white-bg {
      background: #fff; }
  .input-label.with-textarea {
    max-width: 100%; }
  .input-label .symbols {
    position: absolute;
    left: auto;
    top: auto;
    bottom: 12px;
    right: 15px;
    color: #9fa4a9;
    font-size: 12px; }
  .input-label .change-type {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 4px;
    right: 20px;
    background: none;
    border: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .input-label .error-msg {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 12px;
    color: #f00;
    padding-top: 4px;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
  .input-label .additional-info {
    font-size: 12px;
    color: #4735f1;
    padding-top: 4px; }

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  color: #fff;
  text-transform: uppercase; }
  .avatar img {
    width: 100%;
    height: auto; }

.breadcrumbs {
  padding: 20px 0; }
  .breadcrumbs .list-breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .breadcrumbs .list-breadcrumbs a {
      color: #9fa4a9;
      font-family: 'museo300', sans-serif;
      font-size: 12px;
      font-weight: 400; }
    .breadcrumbs .list-breadcrumbs li:not(:last-child) {
      position: relative;
      margin-right: 20px; }
      .breadcrumbs .list-breadcrumbs li:not(:last-child):before {
        content: url("../../img/arrow_right1.png");
        position: absolute;
        top: 0;
        right: -10px; }

.tab-nav li {
  margin-bottom: 20px; }
  .tab-nav li .quantity {
    margin-left: 8px;
    color: #9fa4a9;
    font-size: 12px; }

.tab-nav .nav-item {
  color: #000; }
  .tab-nav .nav-item.active {
    color: #4735f1; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 400px; }
  .pagination .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
    .pagination .page.current {
      color: #fff;
      background: #6752f8; }

.blog {
  width: 100%; }
  @media (max-width: 480px) {
    .blog {
      padding: 0 20px; } }
  .blog .bg-block {
    width: 100%;
    background: url("../../img/bg-blog.png") center no-repeat;
    background-size: cover;
    padding: 70px 15px 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 480px) {
      .blog .bg-block {
        border-radius: 7px;
        background: url("../../img/bg-blog-mobile.png") center no-repeat;
        background-size: cover;
        padding: 40px 15px 31px; } }
    .blog .bg-block .title-blog {
      max-width: 350px;
      width: 100%;
      color: #ffffff;
      font-family: "Museo Sans Cyrl -500", sans-serif;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 43px; }
      @media (max-width: 480px) {
        .blog .bg-block .title-blog {
          max-width: 280px;
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 23px; } }

.connect-with span {
  font-size: 12px; }

.connect-with img {
  margin-left: 8px; }

.connect-with .disabled {
  pointer-events: none; }
  .connect-with .disabled img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7; }

.product-card-view {
  width: 242px;
  height: 430px;
  padding: 18px 14px;
  border-radius: 7px;
  background: #fff;
  cursor: pointer; }
  @media (max-width: 600px) {
    .product-card-view {
      width: 145px;
      height: auto;
      padding: 18px 0;
      margin: 0 10px; } }
  .product-card-view:hover {
    z-index: 2;
    -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
    box-shadow: 0 0 15px rgba(120, 138, 183, 0.25); }
    @media (max-width: 990px) {
      .product-card-view:hover {
        -webkit-box-shadow: none;
        box-shadow: none; } }
  .product-card-view .status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #fff;
    background: rgba(0, 0, 0, 0.65); }
    .product-card-view .status span {
      padding: 0 15px; }
    .product-card-view .status a {
      padding: 14px;
      width: 50px;
      height: 50px;
      border-radius: 0 0 4px;
      background: rgba(255, 255, 255, 0.3); }
  .product-card-view .img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 7px;
    overflow: hidden; }
    .product-card-view .img-container .seller-rank {
      position: absolute;
      top: 10px;
      left: 10px;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 20px;
      padding: 0 7px;
      border-radius: 4px;
      color: #000;
      background: #fff;
      border: 1px solid #eaeaf7;
      font-size: 11px;
      font-family: 'museo300', sans-serif;
      font-weight: 400; }
    .product-card-view .img-container img {
      height: 100%;
      width: auto; }
      @media (max-width: 600px) {
        .product-card-view .img-container img {
          height: auto;
          width: 100%; } }
  .product-card-view .card-heading {
    margin-top: 16px;
    font-size: 13px;
    line-height: 14px;
    font-family: 'museo300', sans-serif;
    font-weight: 400; }
  .product-card-view .edge-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    color: #9fa4a9; }
    .product-card-view .edge-brand li {
      padding-right: 6px;
      line-height: 12px; }
      .product-card-view .edge-brand li:first-of-type {
        border-right: 1px solid #9fa4a9; }
      .product-card-view .edge-brand li:last-of-type {
        padding-left: 6px; }
  .product-card-view .price-like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 8px; }
    .product-card-view .price-like .price {
      color: #000;
      font-size: 20px;
      font-family: 'museo500', sans-serif;
      font-weight: 400; }
    .product-card-view .price-like del {
      color: #9fa4a9;
      font-size: 18px;
      text-decoration: line-through;
      padding-right: 5px; }
    .product-card-view .price-like .like {
      position: relative;
      display: block;
      width: 30px;
      height: 28px;
      border-radius: 5px; }
      .product-card-view .price-like .like:before {
        content: url("../../img/like.svg");
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
      .product-card-view .price-like .like:hover {
        background-color: #eaeaf7; }
      .product-card-view .price-like .like.clicked:before {
        content: url("../../img/like-clicked.png");
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .product-card-view.sales .img-container img {
    opacity: 0.5; }
  .product-card-view.sales .img-container .status {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
    z-index: 3; }
    .product-card-view.sales .img-container .status .edit {
      display: none; }

.product-list-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eaeaf7; }
  @media (max-width: 1140px) {
    .product-list-view {
      max-width: 756px; } }
  .product-list-view .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 146px);
    padding-left: 20px; }
  .product-list-view .labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px; }
    .product-list-view .labels .label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 7px;
      margin-right: 7px;
      height: 25px;
      border-radius: 4px;
      border: 1px solid #eaeaf7;
      background: #fafbff;
      font-size: 11px;
      font-family: 'museo300', sans-serif; }
  .product-list-view .img-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 146px;
    height: 211px;
    border-radius: 7px;
    overflow: hidden; }
    .product-list-view .img-container img {
      height: 100%;
      width: auto; }
      @media (max-width: 600px) {
        .product-list-view .img-container img {
          height: auto;
          width: 100%; } }
  .product-list-view .card-heading {
    font-size: 20px;
    font-family: 'museo500', sans-serif; }
  .product-list-view .edge-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    color: #9fa4a9;
    margin-bottom: 20px; }
    .product-list-view .edge-brand li {
      padding-right: 6px;
      line-height: 12px; }
      .product-list-view .edge-brand li:first-of-type {
        border-right: 1px solid #9fa4a9; }
      .product-list-view .edge-brand li:last-of-type {
        padding-left: 6px; }
  .product-list-view .price-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    .product-list-view .price-buy .price {
      font-family: "museo500", sans-serif;
      font-size: 24px; }
    .product-list-view .price-buy .buy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .product-list-view .price-buy .buy a {
        margin-left: 15px; }
  .product-list-view .name-place-spy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .product-list-view .name-place-spy .name-place {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px; }
      .product-list-view .name-place-spy .name-place h4 {
        margin-right: 4px;
        font-family: "museo500", sans-serif; }
      .product-list-view .name-place-spy .name-place .avatar {
        margin-right: 5px;
        width: 30px;
        height: 30px; }
    .product-list-view .name-place-spy .spy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      min-width: 340px; }

.header-desktop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fafbff;
  z-index: 9; }
  @media (max-width: 1180px) {
    .header-desktop {
      display: none; } }
  .header-desktop .container {
    max-width: 1140px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-desktop .logo {
    display: inline-block;
    width: 120px; }
    .header-desktop .logo img {
      width: 100%;
      height: auto; }
  .header-desktop .new-announcement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 165px;
    height: 35px;
    border-radius: 7px;
    background-color: #6354f4;
    color: #fff;
    font-size: 14px;
    font-family: 'museo300', sans-serif;
    font-weight: 400; }
    .header-desktop .new-announcement:hover {
      -webkit-box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
      box-shadow: 0 0 14px rgba(120, 138, 183, 0.25);
      background: #fff;
      color: #6354f4; }
  .header-desktop .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header-desktop .icon-group a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      padding: 4px;
      border-radius: 5px; }
      .header-desktop .icon-group a:hover {
        background: #eaeaf7; }
      .header-desktop .icon-group a:first-of-type {
        margin-right: 5px; }
      .header-desktop .icon-group a span {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 1px;
        width: 13px;
        height: 13px;
        background-color: #f871a2;
        font-size: 10px;
        font-family: 'museo500', sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 50%;
        -webkit-transform: translate(3px, -2px);
        -ms-transform: translate(3px, -2px);
        transform: translate(3px, -2px); }
        .header-desktop .icon-group a span.empty {
          display: none; }
  .header-desktop .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    .header-desktop .user a {
      position: relative;
      display: block;
      color: #000;
      font-family: 'museo500', sans-serif;
      font-weight: 400;
      padding: 0 7px; }
      .header-desktop .user a:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: calc(100% - 14px);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 1px;
        background: transparent; }
      .header-desktop .user a:hover {
        color: #6354f4; }
        .header-desktop .user a:hover:before {
          background: #6354f4; }
      .header-desktop .user a:first-of-type {
        border-right: 1px solid #000; }
  .header-desktop nav {
    height: 50px;
    border: 1px solid #eaeaf7;
    background: #fff; }
    .header-desktop nav .container {
      max-width: 1140px;
      overflow: visible; }
    .header-desktop nav .products-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px; }
      .header-desktop nav .products-nav .list {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        border-left: 1px solid #eaeaf7;
        border-right: 1px solid #eaeaf7;
        cursor: pointer; }
        .header-desktop nav .products-nav .list .category-name {
          position: relative;
          padding: 0 30px 0 18px;
          font-size: 14px; }
          .header-desktop nav .products-nav .list .category-name:after {
            content: "\2039";
            position: absolute;
            top: 50%;
            right: 16px;
            font-size: 16px;
            font-weight: 700;
            left: auto;
            -webkit-transform: translateY(-50%) rotate(-90deg);
            -ms-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg); }
        .header-desktop nav .products-nav .list.sub-category-list {
          border: none; }
          .header-desktop nav .products-nav .list.sub-category-list .category-name {
            position: relative;
            padding: 0 23px 0 12px; }
            .header-desktop nav .products-nav .list.sub-category-list .category-name:after {
              right: 10px; }
          .header-desktop nav .products-nav .list.sub-category-list:hover {
            background: #6354f4; }
            .header-desktop nav .products-nav .list.sub-category-list:hover .category-name {
              color: #fff; }
              .header-desktop nav .products-nav .list.sub-category-list:hover .category-name:after {
                -webkit-transform: translateY(-50%) rotate(90deg);
                -ms-transform: translateY(-50%) rotate(90deg);
                transform: translateY(-50%) rotate(90deg); }
        .header-desktop nav .products-nav .list.all-categories {
          margin-right: 5px; }
          .header-desktop nav .products-nav .list.all-categories .category-name {
            color: #6354f4; }
          .header-desktop nav .products-nav .list.all-categories:hover {
            background: #6354f4; }
            .header-desktop nav .products-nav .list.all-categories:hover .category-name {
              color: #fff; }
              .header-desktop nav .products-nav .list.all-categories:hover .category-name:after {
                -webkit-transform: translateY(-50%) rotate(90deg);
                -ms-transform: translateY(-50%) rotate(90deg);
                transform: translateY(-50%) rotate(90deg); }
        .header-desktop nav .products-nav .list.special {
          margin-left: 5px; }
          .header-desktop nav .products-nav .list.special .category-name {
            color: #f871a2;
            padding: 0 16px; }
            .header-desktop nav .products-nav .list.special .category-name:after {
              display: none; }
          .header-desktop nav .products-nav .list.special:hover {
            background: #f871a2; }
            .header-desktop nav .products-nav .list.special:hover .category-name {
              color: #fff; }
        .header-desktop nav .products-nav .list .sub-menu {
          position: fixed;
          padding-top: 30px;
          top: 120px;
          left: 0;
          background: #ffffff;
          width: 100%;
          height: 100%;
          display: none; }
          .header-desktop nav .products-nav .list .sub-menu .container {
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start; }
          .header-desktop nav .products-nav .list .sub-menu ul {
            padding: 0 0 0 15px;
            max-width: 250px; }
          .header-desktop nav .products-nav .list .sub-menu .category-heading {
            font-size: 18px;
            font-family: 'museo500', sans-serif;
            font-weight: 400;
            margin-bottom: 20px; }
          .header-desktop nav .products-nav .list .sub-menu li {
            margin-bottom: 9px; }
            @media (max-height: 550px) {
              .header-desktop nav .products-nav .list .sub-menu li {
                margin-bottom: 2px; } }
          .header-desktop nav .products-nav .list .sub-menu a {
            color: #000;
            line-height: 19px; }
            .header-desktop nav .products-nav .list .sub-menu a:hover {
              color: #6354f4; }
        .header-desktop nav .products-nav .list:hover .sub-menu {
          display: block; }
    .header-desktop nav .info-nav {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      padding-right: 40px; }
      .header-desktop nav .info-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .header-desktop nav .info-nav .language {
        position: absolute;
        top: 12px;
        left: auto;
        right: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #eaeaf7;
        background-color: #fafbff;
        overflow: hidden;
        z-index: 9; }
        .header-desktop nav .info-nav .language:hover {
          height: auto;
          -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
          box-shadow: 0 0 15px rgba(120, 138, 183, 0.25); }
        .header-desktop nav .info-nav .language li {
          padding: 5px 0; }
          .header-desktop nav .info-nav .language li a {
            padding: 0; }
            .header-desktop nav .info-nav .language li a:before {
              content: none; }
      .header-desktop nav .info-nav a {
        position: relative;
        display: block;
        color: #000;
        font-size: 14px;
        padding: 0 8px; }
        .header-desktop nav .info-nav a:before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 50%;
          width: calc(100% - 14px);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 1px;
          background: transparent; }
        .header-desktop nav .info-nav a:hover {
          color: #6354f4; }
          .header-desktop nav .info-nav a:hover:before {
            background: #6354f4; }

.header-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #eaeaf7; }
  @media (min-width: 1180px) {
    .header-mobile {
      display: none; } }
  .header-mobile .container {
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px; }
  .header-mobile .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 55px;
    background-color: #fff; }
    .header-mobile .top .hamburger {
      -webkit-transform: scale(0.65) translateX(-6px);
      -ms-transform: scale(0.65) translateX(-6px);
      transform: scale(0.65) translateX(-6px); }
    .header-mobile .top .icon-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header-mobile .top .icon-group a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        padding: 4px;
        border-radius: 5px;
        margin-right: 11px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .header-mobile .top .icon-group a.like img {
          width: 22px; }
        .header-mobile .top .icon-group a.card img {
          width: 21px; }
        .header-mobile .top .icon-group a.add img {
          width: 26px; }
        .header-mobile .top .icon-group a.login img {
          width: 17px; }
        .header-mobile .top .icon-group a img {
          height: auto; }
        .header-mobile .top .icon-group a:hover {
          background: #eaeaf7; }
        .header-mobile .top .icon-group a:last-of-type {
          margin: 0; }
      .header-mobile .top .icon-group span {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 1px;
        width: 13px;
        height: 13px;
        background-color: #f871a2;
        font-size: 10px;
        font-family: 'museo500', sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 50%;
        -webkit-transform: translate(3px, -2px);
        -ms-transform: translate(3px, -2px);
        transform: translate(3px, -2px);
        z-index: 5; }
        .header-mobile .top .icon-group span.empty {
          display: none; }
      .header-mobile .top .icon-group .user-register {
        position: relative; }
  .header-mobile .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 55px;
    background-color: #fafbff;
    border-bottom: 1px solid #eaeaf7;
    border-top: 1px solid #eaeaf7; }
    .header-mobile .bottom .search-group {
      width: 100%;
      max-width: 500px;
      position: relative; }
      .header-mobile .bottom .search-group button {
        position: absolute;
        top: 50%;
        left: auto;
        right: 0;
        padding: 7px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: none;
        border: none;
        outline: none;
        cursor: pointer; }
      .header-mobile .bottom .search-group .search {
        width: 100%;
        height: 35px;
        border-radius: 7px;
        padding: 7px;
        border: 1px solid #eaeaf7;
        background-color: #fff;
        outline: none; }
        .header-mobile .bottom .search-group .search:focus {
          border: 1px solid #6354f4; }

.push-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #6354f4;
  z-index: 999;
  color: #ffffff;
  font-size: 14px; }
  .push-mobile.visible {
    display: block; }
    @media (min-width: 1180px) {
      .push-mobile.visible {
        display: none; } }
  .push-mobile .container {
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px; }
  .push-mobile .read-msg {
    background: #fff;
    font-size: 12px;
    height: 30px;
    padding: 0 20px; }

.user-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .user-register .avatar {
    margin-right: 5px;
    width: 35px;
    height: 35px; }
  .user-register .name {
    position: relative;
    cursor: pointer;
    color: #000000;
    font-family: "Museo Sans Cyrl -500", sans-serif;
    font-size: 13px;
    font-weight: 400; }
    .user-register .name:after {
      content: "\2039";
      position: absolute;
      top: 6px;
      right: -9px;
      font-size: 16px;
      font-weight: 700;
      left: auto;
      color: #6354f4;
      -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
      transform: translateY(-50%) rotate(-90deg); }

.most-viewed {
  padding: 65px 0 70px 0; }
  @media (max-width: 990px) {
    .most-viewed {
      padding: 50px 0 60px 0; } }
  .most-viewed .container {
    max-width: 905px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 990px) {
      .most-viewed .container {
        padding: 0 20px; } }
  .most-viewed h2 {
    margin-bottom: 50px;
    text-align: center; }
    @media (max-width: 990px) {
      .most-viewed h2 {
        margin-bottom: 30px; } }
  .most-viewed .most-viewed-list {
    width: 100%;
    -webkit-column-count: 5;
    column-count: 5; }
    @media (max-width: 990px) {
      .most-viewed .most-viewed-list {
        -webkit-column-count: 4;
        column-count: 4; } }
    @media (max-width: 750px) {
      .most-viewed .most-viewed-list {
        -webkit-column-count: 3;
        column-count: 3; } }
    @media (max-width: 620px) {
      .most-viewed .most-viewed-list {
        -webkit-column-count: 2;
        column-count: 2; } }
    .most-viewed .most-viewed-list li {
      padding-right: 10px;
      font-size: 14px;
      line-height: 27px;
      font-family: 'museo300', sans-serif;
      font-weight: 400; }
      @media (max-width: 620px) {
        .most-viewed .most-viewed-list li {
          line-height: 32px; } }
      .most-viewed .most-viewed-list li a {
        color: #4735f1; }
        .most-viewed .most-viewed-list li a:hover {
          text-decoration: underline; }

.search-group {
  width: 100%;
  max-width: 500px;
  position: relative; }
  .search-group button {
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    padding: 7px;
    -webkit-transform: translateY(-46%);
    -ms-transform: translateY(-46%);
    transform: translateY(-46%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer; }
  .search-group .search {
    width: 100%;
    height: 35px;
    border-radius: 7px;
    padding: 7px;
    border: 1px solid #eaeaf7;
    background-color: #fff;
    outline: none; }
    .search-group .search:focus {
      border: 1px solid #6354f4; }

.sidebar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: 999;
  overflow: hidden;
  -webkit-transition: left 0.2s, background 0.2s 0.2s linear;
  -o-transition: left 0.2s, background 0.2s 0.2s linear;
  transition: left 0.2s, background 0.2s 0.2s linear;
  pointer-events: none; }
  .sidebar-mobile.open {
    pointer-events: auto;
    background: rgba(8, 3, 54, 0.35); }
    .sidebar-mobile.open .bar {
      left: 0; }
  .sidebar-mobile .bar {
    position: relative;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 284px;
    height: 100%;
    background: #fafbff;
    overflow-y: scroll;
    padding-top: 55px; }
  .sidebar-mobile .bar-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    -webkit-box-shadow: 0 0 7px rgba(120, 138, 183, 0.12);
    box-shadow: 0 0 7px rgba(120, 138, 183, 0.12);
    border: 1px solid #eaeaf7;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sidebar-mobile .bar-header .hamburger {
      -webkit-transform: scale(0.65) translateX(-6px);
      -ms-transform: scale(0.65) translateX(-6px);
      transform: scale(0.65) translateX(-6px); }
    .sidebar-mobile .bar-header .logo {
      margin: 0 24px 0 6px; }
    .sidebar-mobile .bar-header .language {
      position: absolute;
      top: 14px;
      left: auto;
      right: 20px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;
      height: 25px;
      border-radius: 5px;
      border: 1px solid #eaeaf7;
      background-color: #fafbff;
      overflow: hidden;
      z-index: 9; }
      .sidebar-mobile .bar-header .language:hover {
        height: auto;
        -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
        box-shadow: 0 0 15px rgba(120, 138, 183, 0.25); }
      .sidebar-mobile .bar-header .language li {
        text-align: center;
        padding: 5px 0; }
        .sidebar-mobile .bar-header .language li a {
          padding: 0;
          color: #000; }
          .sidebar-mobile .bar-header .language li a:before {
            content: none; }
    .sidebar-mobile .bar-header .search-btn {
      width: 19px;
      height: 19px;
      border: none;
      background: none;
      padding: 0; }
  .sidebar-mobile .group {
    -webkit-box-shadow: 0 0 7px rgba(120, 138, 183, 0.12);
    box-shadow: 0 0 7px rgba(120, 138, 183, 0.12);
    background: #fff;
    margin-top: 20px; }
    .sidebar-mobile .group .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 45px;
      border: 1px solid #eaeaf7; }
      .sidebar-mobile .group .item a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: #000;
        font-family: "museo300", sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 0 20px; }
        .sidebar-mobile .group .item a .img-container {
          width: 25px;
          height: 20px;
          margin-right: 10px;
          text-align: center; }
          .sidebar-mobile .group .item a .img-container img {
            height: 100%;
            width: auto; }
      .sidebar-mobile .group .item .category-heading {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 45px;
        width: 100%;
        padding: 0 20px; }
        .sidebar-mobile .group .item .category-heading:after {
          content: "\2039";
          position: absolute;
          top: 50%;
          left: auto;
          right: 20px;
          font-size: 18px;
          font-weight: 700;
          color: inherit;
          -webkit-transform: translateY(-50%) rotate(-90deg);
          -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg); }
        .sidebar-mobile .group .item .category-heading.special {
          color: #f871a2; }
      .sidebar-mobile .group .item.collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        height: auto; }
        .sidebar-mobile .group .item.collapse .collapse-body {
          width: 100%;
          height: 0;
          overflow: hidden; }
          .sidebar-mobile .group .item.collapse .collapse-body .collapse-item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            height: 36px;
            padding-left: 40px; }
            .sidebar-mobile .group .item.collapse .collapse-body .collapse-item a {
              font-family: "museo100", sans-serif; }
        .sidebar-mobile .group .item.collapse.open .category-heading {
          background: #6354f4;
          color: #fff; }
          .sidebar-mobile .group .item.collapse.open .category-heading.special {
            background: #f871a2; }
          .sidebar-mobile .group .item.collapse.open .category-heading:after {
            -webkit-transform: translateY(-50%) rotate(90deg);
            -ms-transform: translateY(-50%) rotate(90deg);
            transform: translateY(-50%) rotate(90deg); }
  .sidebar-mobile .top-links .item a {
    color: #6354f4; }
  .sidebar-mobile .top-links .item.user-account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 15px 0; }
    .sidebar-mobile .top-links .item.user-account .user-register {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .sidebar-mobile .top-links .item.user-account .user-register .avatar {
        margin-right: 5px;
        width: 29px;
        height: 29px; }
      .sidebar-mobile .top-links .item.user-account .user-register .name {
        position: relative;
        cursor: pointer;
        color: #000;
        font-family: "museo500", sans-serif;
        font-size: 14px;
        font-weight: 400; }
        .sidebar-mobile .top-links .item.user-account .user-register .name:after {
          display: none; }
    .sidebar-mobile .top-links .item.user-account .user-account-links {
      width: 100%; }
      .sidebar-mobile .top-links .item.user-account .user-account-links li {
        padding: 10px 0 10px 35px; }
        .sidebar-mobile .top-links .item.user-account .user-account-links li a {
          color: #000; }
  .sidebar-mobile .bottom-links li {
    position: relative; }
    .sidebar-mobile .bottom-links li:after {
      content: "\2039";
      position: absolute;
      top: 54%;
      left: auto;
      right: 20px;
      font-size: 16px;
      font-weight: 700;
      color: #9fa4a9;
      -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
      transform: translateY(-50%) rotate(180deg); }
  .sidebar-mobile .user-state .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px; }
    .sidebar-mobile .user-state .icon-group .wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      width: 30px;
      padding: 4px;
      border-radius: 5px; }
      .sidebar-mobile .user-state .icon-group .wrap:hover {
        background: #eaeaf7; }
      .sidebar-mobile .user-state .icon-group .wrap span {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 1px;
        width: 13px;
        height: 13px;
        background-color: #f871a2;
        font-size: 10px;
        font-family: 'museo500', sans-serif;
        font-weight: 400;
        color: #fff;
        border-radius: 50%;
        -webkit-transform: translate(3px, -2px);
        -ms-transform: translate(3px, -2px);
        transform: translate(3px, -2px); }
        .sidebar-mobile .user-state .icon-group .wrap span.empty {
          display: none; }

.footer-desktop {
  background-color: #fafbff;
  border-top: 1px solid #eaeaf7;
  border-bottom: 1px solid #eaeaf7; }
  @media (max-width: 990px) {
    .footer-desktop {
      display: none; } }
  .footer-desktop .subscribe {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #eaeaf7;
    padding: 44px 0 40px 0; }
    .footer-desktop .subscribe .container {
      max-width: 905px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .footer-desktop .subscribe .subscribe-heading {
      max-width: 420px;
      font-size: 24px;
      line-height: 28px;
      font-family: 'museo500', sans-serif; }
    .footer-desktop .subscribe .subscribe-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer-desktop .subscribe .subscribe-form .checkbox {
        margin-top: 10px; }
      .footer-desktop .subscribe .subscribe-form .input-submit {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .footer-desktop .subscribe .subscribe-form .input-submit input {
          width: 240px;
          height: 36px;
          padding: 7px;
          border-radius: 7px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border: 1px solid #eaeaf7;
          background: #fff; }
          .footer-desktop .subscribe .subscribe-form .input-submit input:focus {
            border: 1px solid #6354f4; }
        .footer-desktop .subscribe .subscribe-form .input-submit .submit-subscribe {
          border: none;
          height: 36px;
          min-width: 160px;
          font-size: 14px;
          border-radius: 7px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0; }
  .footer-desktop .footer-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    border-bottom: 1px solid #eaeaf7; }
    .footer-desktop .footer-nav .container {
      max-width: 905px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .footer-desktop .footer-nav .contact-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer-desktop .footer-nav .contact-info .logo {
        width: 125px;
        padding: 0; }
      .footer-desktop .footer-nav .contact-info a {
        color: #000;
        font-family: "museo300", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-top: 8px; }
        .footer-desktop .footer-nav .contact-info a:hover {
          color: #6354f4; }
    .footer-desktop .footer-nav .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-desktop .footer-nav .nav ul {
        margin-left: 50px; }
      .footer-desktop .footer-nav .nav li, .footer-desktop .footer-nav .nav .category-heading {
        color: #000;
        font-family: 'museo500', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px; }
        .footer-desktop .footer-nav .nav li:last-of-type, .footer-desktop .footer-nav .nav .category-heading:last-of-type {
          margin: 0; }
        .footer-desktop .footer-nav .nav li a, .footer-desktop .footer-nav .nav .category-heading a {
          font-family: 'museo300', sans-serif;
          color: #000; }
          .footer-desktop .footer-nav .nav li a:hover, .footer-desktop .footer-nav .nav .category-heading a:hover {
            color: #6354f4; }
  .footer-desktop .copyright-social {
    background: #fff;
    padding: 15px 0; }
    .footer-desktop .copyright-social .container {
      max-width: 905px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .footer-desktop .copyright-social .social a {
      padding-right: 20px; }
    .footer-desktop .copyright-social .copyright-language {
      position: relative;
      padding-left: 45px; }
      .footer-desktop .copyright-social .copyright-language .language {
        position: absolute;
        top: auto;
        left: 0;
        bottom: -5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #eaeaf7;
        background-color: #fafbff;
        overflow: hidden;
        z-index: 9; }
        .footer-desktop .copyright-social .copyright-language .language:hover {
          height: auto;
          -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
          box-shadow: 0 0 15px rgba(120, 138, 183, 0.25); }
        .footer-desktop .copyright-social .copyright-language .language li {
          text-align: center;
          padding: 5px 0; }
          .footer-desktop .copyright-social .copyright-language .language li a {
            padding: 0; }
            .footer-desktop .copyright-social .copyright-language .language li a:before {
              content: none; }

.footer-mobile {
  background: #fff; }
  @media (min-width: 990px) {
    .footer-mobile {
      display: none; } }
  .footer-mobile .container {
    padding: 0 20px; }
  .footer-mobile .subscribe {
    width: 100%;
    border-top: 1px solid #eaeaf7;
    border-bottom: 1px solid #eaeaf7;
    background: #fafbff;
    padding: 40px 0; }
    .footer-mobile .subscribe .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-mobile .subscribe .subscribe-heading {
      margin-bottom: 24px;
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      font-family: 'museo500', sans-serif; }
    .footer-mobile .subscribe .subscribe-form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .footer-mobile .subscribe .subscribe-form .checkbox {
        margin-top: 10px;
        padding-right: 40px; }
      .footer-mobile .subscribe .subscribe-form input {
        margin-bottom: 10px;
        height: 40px;
        padding: 7px;
        border-radius: 7px;
        border: 1px solid #eaeaf7;
        background: #fff; }
        .footer-mobile .subscribe .subscribe-form input:focus {
          border: 1px solid #6354f4; }
      .footer-mobile .subscribe .subscribe-form .submit-subscribe {
        border: none; }
  .footer-mobile .footer-nav {
    padding: 20px 0; }
    .footer-mobile .footer-nav .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .footer-mobile .footer-nav .nav .category-heading {
      position: relative;
      padding: 10px 14px;
      color: #4735f1;
      font-family: "museo300", sans-serif;
      font-size: 14px;
      font-weight: 400; }
      .footer-mobile .footer-nav .nav .category-heading:after {
        content: "\2039";
        position: absolute;
        top: 50%;
        left: 0;
        font-size: 16px;
        font-weight: 700;
        -webkit-transform: translateY(-50%) rotate(-90deg);
        -ms-transform: translateY(-50%) rotate(-90deg);
        transform: translateY(-50%) rotate(-90deg); }
    .footer-mobile .footer-nav .nav li {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 12px;
      padding-left: 30px; }
      .footer-mobile .footer-nav .nav li a {
        font-family: 'museo300', sans-serif;
        color: #000; }
        .footer-mobile .footer-nav .nav li a:hover {
          color: #6354f4; }
    .footer-mobile .footer-nav .collapse {
      width: 100%; }
      .footer-mobile .footer-nav .collapse .collapse-body {
        height: 0;
        overflow: hidden; }
  .footer-mobile .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eaeaf7;
    border-bottom: 1px solid #eaeaf7; }
    .footer-mobile .contact-info a {
      display: inline-block;
      width: 100%;
      color: #000000;
      text-align: center;
      font-family: 'museo500', sans-serif;
      font-size: 15px;
      font-weight: 400;
      padding: 20px 14px; }
      @media (max-width: 350px) {
        .footer-mobile .contact-info a {
          font-size: 13px; } }
      .footer-mobile .contact-info a:first-of-type {
        border-right: 1px solid #eaeaf7; }
  .footer-mobile .logo-social-language {
    padding: 10px 0; }
    .footer-mobile .logo-social-language .container {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .footer-mobile .logo-social-language .social-language {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .footer-mobile .logo-social-language .social-language .language {
        position: absolute;
        top: 0;
        left: -58px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 30px;
        height: 25px;
        border-radius: 5px;
        border: 1px solid #eaeaf7;
        background-color: #fafbff;
        overflow: hidden;
        z-index: 9; }
        .footer-mobile .logo-social-language .social-language .language:hover {
          height: auto;
          -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
          box-shadow: 0 0 15px rgba(120, 138, 183, 0.25); }
        .footer-mobile .logo-social-language .social-language .language li {
          padding: 5px 0; }
          .footer-mobile .logo-social-language .social-language .language li a {
            display: block;
            padding: 0;
            text-align: center;
            color: #000; }
            .footer-mobile .logo-social-language .social-language .language li a:before {
              content: none; }
      .footer-mobile .logo-social-language .social-language .social a {
        display: inline-block;
        height: 25px; }
        .footer-mobile .logo-social-language .social-language .social a:first-of-type {
          margin-right: 28px; }
        .footer-mobile .logo-social-language .social-language .social a img {
          height: 100%;
          width: auto; }
  .footer-mobile .copyright {
    border-top: 1px solid #eaeaf7;
    padding: 10px 0;
    font-family: "museo300", sans-serif;
    font-size: 11px;
    font-weight: 400; }

.panel {
  background-color: #fafbff;
  padding: 45px 70px;
  display: block;
  width: 100%;
  position: relative; }
  .panel .panel-title {
    margin-bottom: 25px; }
  .panel .panel-text {
    font-size: 16px; }

.dots-chat-menu .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31px;
  height: 31px;
  -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer; }
  .dots-chat-menu .dots .dots-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 18px; }
  .dots-chat-menu .dots span {
    width: 5px;
    height: 5px;
    background-color: #000000;
    border-radius: 50%; }

.dots-chat-menu .menu-list {
  position: absolute;
  top: 70px;
  right: 55px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  border-radius: 5px; }
  @media (max-width: 650px) {
    .dots-chat-menu .menu-list {
      top: 65px;
      right: 36px; } }
  .dots-chat-menu .menu-list a {
    color: #000000;
    font-size: 13px;
    cursor: pointer; }
  .dots-chat-menu .menu-list a:not(:last-child) {
    margin-bottom: 20px; }

.dots-chat-menu .open-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3; }

.filters-bar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 40px; }
  @media (max-width: 750px) {
    .filters-bar-header {
      padding: 30px 0; } }
  .filters-bar-header h4 {
    text-transform: uppercase;
    line-height: 28px; }
  .filters-bar-header button {
    color: #9fa4a9;
    font-size: 12px;
    padding: 0; }
    .filters-bar-header button img {
      margin-left: 4px; }
  @media (min-width: 750px) {
    .filters-bar-header .close {
      display: none; } }

.filter-block .filter-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  font-family: "museo500", sans-serif;
  font-size: 14px;
  border-top: 1px solid #eaeaf7; }
  .filter-block .filter-head:after {
    content: "\2039";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: auto;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaf7;
    background: #fafbff;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg); }

.filter-block.open .filter-head:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }

.filter-block .filter-body {
  height: 0;
  overflow: hidden; }

.filter-block .filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0; }
  .filter-block .filter-items.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .filter-block .filter-items.row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.filter-block .show-more {
  display: inline-block;
  margin: 10px 0 30px 0;
  font-size: 12px; }

.filter-block .search-group {
  margin-bottom: 20px; }
  .filter-block .search-group .search {
    border: none;
    border-bottom: 1px solid #eaeaf7;
    border-radius: 0; }
    .filter-block .search-group .search:focus {
      border: none;
      border-bottom: 1px solid #6354f4; }

.filter-block .rage {
  padding: 20px 8px 50px 8px; }
  .filter-block .rage .values {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px; }
    .filter-block .rage .values span {
      font-size: 12px; }
    .filter-block .rage .values input {
      width: 80px;
      height: 40px;
      padding: 0 12px;
      border-radius: 4px;
      border: 1px solid #eaeaf7;
      background-color: #fafbff;
      font-size: 14px; }

.filter-block .color-picker {
  position: absolute;
  top: 50%;
  left: auto;
  right: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #cdcde5; }

.filter-block .filter-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 24px;
  padding: 0 8px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #eaeaf7;
  font-size: 12px;
  font-family: 'museo300', sans-serif;
  font-weight: 400;
  margin: 0 10px 12px 0;
  background: #fafbff; }
  .filter-block .filter-btn.type-btn {
    height: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background: #fff;
    color: #6752f8;
    border: #fff;
    font-size: 14px;
    margin-right: 0;
    padding: 0 18px; }
  .filter-block .filter-btn.active {
    background: #6752f8;
    border-color: #6354f4;
    color: #fff; }

.filter-block .checkbox {
  margin: 0 10px 14px 0; }

.fancybox-slide {
  padding: 0; }

.modal-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  max-width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
  border-radius: 7px; }
  @media (max-width: 768px) {
    .modal-frame {
      width: 100%;
      height: 100%;
      padding: 30px 20px;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  .modal-frame .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-frame.new-review-modal {
    width: 100%;
    max-width: 750px; }
    @media (min-width: 769px) {
      .modal-frame.new-review-modal {
        padding: 76px 96px; } }
    .modal-frame.new-review-modal .switcher {
      -ms-flex-item-align: center;
      align-self: center; }
    .modal-frame.new-review-modal h2 {
      margin-bottom: 40px; }
    .modal-frame.new-review-modal .switcher {
      margin-bottom: 40px; }
    .modal-frame.new-review-modal .input-label {
      margin-bottom: 20px; }
      .modal-frame.new-review-modal .input-label.with-textarea {
        margin-bottom: 40px; }
        .modal-frame.new-review-modal .input-label.with-textarea textarea {
          height: 110px; }
          @media (max-width: 768px) {
            .modal-frame.new-review-modal .input-label.with-textarea textarea {
              height: 150px; } }
      .modal-frame.new-review-modal .input-label.with-radio {
        margin-bottom: 40px; }
    @media (max-width: 768px) {
      .modal-frame.new-review-modal .radio-box {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .modal-frame.new-review-modal .radio-box .type-radio {
          margin: 0; }
          .modal-frame.new-review-modal .radio-box .type-radio .checkmark {
            width: 45px;
            height: 45px; } }
    .modal-frame.new-review-modal .content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
  .modal-frame.modal-chats {
    width: 100%;
    max-width: 455px;
    padding: 45px; }
    @media (max-width: 768px) {
      .modal-frame.modal-chats {
        height: auto;
        padding: 30px 20px; } }
    @media (max-width: 480px) {
      .modal-frame.modal-chats {
        height: 100%; } }
    .modal-frame.modal-chats .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .modal-frame.modal-chats .title-modal {
      color: #000000;
      font-family: 'museo500', sans-serif;
      font-size: 24px;
      text-align: center;
      margin-bottom: 27px; }
    .modal-frame.modal-chats .input-label {
      margin-bottom: 10px; }
      .modal-frame.modal-chats .input-label.textarea {
        margin-bottom: 30px; }
        .modal-frame.modal-chats .input-label.textarea textarea {
          height: 120px;
          background-color: #ffffff; }
      .modal-frame.modal-chats .input-label.select {
        margin-bottom: 18px; }
    .modal-frame.modal-chats .btn-dark {
      width: 100%; }
    .modal-frame.modal-chats .product-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #000000;
      margin-bottom: 20px; }
    .modal-frame.modal-chats .block-img {
      margin-right: 20px; }
    .modal-frame.modal-chats .title-product {
      max-width: 230px;
      width: 100%;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px; }
    .modal-frame.modal-chats .price {
      font-family: 'museo500', sans-serif;
      font-size: 16px; }

.registration {
  font-family: 'museo300', sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  background: url("../../img/login_bg.png") center no-repeat;
  background-size: cover; }
  @media (max-width: 800px) {
    .registration {
      background: none; } }
  .registration .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 500px;
    height: 580px;
    padding: 50px 55px;
    margin: 170px auto 30px auto;
    -webkit-box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
    box-shadow: 0 0 15px rgba(120, 138, 183, 0.25);
    border-radius: 7px;
    background-color: #fff; }
    @media (max-width: 570px) {
      .registration .form-container {
        margin: 90px 0 0 0;
        padding: 0 20px;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: auto; } }
    .registration .form-container h1, .registration .form-container h2 {
      margin-bottom: 25px;
      font-family: "museo500", sans-serif;
      font-size: 24px;
      font-weight: 400; }
    .registration .form-container h2 {
      font-size: 16px;
      margin-bottom: 15px; }
      @media (max-width: 570px) {
        .registration .form-container h2 {
          margin-bottom: 30px; } }
    .registration .form-container .social-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 40px; }
      @media (max-width: 570px) {
        .registration .form-container .social-btn {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .registration .form-container .social-btn .fb-login-btn, .registration .form-container .social-btn .g-login-btn {
            width: 100%;
            margin: 0 0 20px 0; } }
    .registration .form-container form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin-bottom: 30px; }
      .registration .form-container form .input-label {
        margin-bottom: 20px; }
    .registration .form-container .checkbox {
      margin-bottom: 30px; }
    .registration .form-container .to-login-btn {
      margin: 5px 0 35px 0;
      width: 100%;
      text-align: left;
      color: #9fa4a9;
      font-size: 12px; }
    .registration .form-container p {
      font-size: 14px;
      margin-bottom: 10px; }
  .registration .most-viewed {
    padding: 65px 0 70px 0; }
    @media (max-width: 990px) {
      .registration .most-viewed {
        padding: 50px 0 60px 0; } }
    @media (min-width: 800px) {
      .registration .most-viewed {
        display: none; } }
    .registration .most-viewed .container {
      max-width: 905px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      @media (max-width: 990px) {
        .registration .most-viewed .container {
          padding: 0 20px; } }
    .registration .most-viewed h2 {
      margin-bottom: 50px;
      color: #000;
      font-size: 24px;
      font-family: 'museo500', sans-serif;
      font-weight: 400;
      text-align: center; }
      @media (max-width: 990px) {
        .registration .most-viewed h2 {
          margin-bottom: 30px; } }
    .registration .most-viewed .most-viewed-list {
      width: 100%;
      -webkit-column-count: 5;
      column-count: 5; }
      @media (max-width: 990px) {
        .registration .most-viewed .most-viewed-list {
          -webkit-column-count: 4;
          column-count: 4; } }
      @media (max-width: 750px) {
        .registration .most-viewed .most-viewed-list {
          -webkit-column-count: 3;
          column-count: 3; } }
      @media (max-width: 620px) {
        .registration .most-viewed .most-viewed-list {
          -webkit-column-count: 2;
          column-count: 2; } }
      .registration .most-viewed .most-viewed-list li {
        padding-right: 10px;
        font-size: 14px;
        line-height: 27px;
        font-family: 'museo300', sans-serif;
        font-weight: 400; }
        @media (max-width: 620px) {
          .registration .most-viewed .most-viewed-list li {
            line-height: 32px; } }
        .registration .most-viewed .most-viewed-list li a {
          color: #4735f1; }
          .registration .most-viewed .most-viewed-list li a:hover {
            text-decoration: underline; }
