@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext");
@import url(../../css/hamburgers.min.css);
.btn-type-1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 56px;
  max-width: 350px;
  background: #F39C12;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #272727;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-1:hover {
    background: #F89B08;
    -webkit-box-shadow: 0px 4px 50px rgba(241, 196, 15, 0.2);
    box-shadow: 0px 4px 50px rgba(241, 196, 15, 0.2); }

.btn-type-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 40px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-2:hover {
    background: #F39C12; }

.btn-type-3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 39px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-3:hover {
    background: #F89B08; }

.btn-type-4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 39px;
  background: #1A1A1A;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-type-4:hover {
    background: #fff;
    color: #1A1A1A; }

.btn-type-arrow-right {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 28px;
  margin: 0 50px;
  cursor: pointer; }
  .btn-type-arrow-right:before {
    display: inline-block;
    width: 15px;
    height: 28px;
    content: url("../../img/arrow-right.svg"); }
  .btn-type-arrow-right:hover {
    content: url("../../img/arrow-right-hovered.svg"); }

.btn-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 49px;
  height: 32px;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: rgba(255, 255, 255, 0.87);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn-lang.active, .btn-lang:hover {
    color: #F39C12;
    background: rgba(243, 156, 18, 0.08); }

.btn-header-nav {
  padding: 0;
  margin: 0 0;
  background: none;
  color: rgba(39, 39, 39, 0.75);
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.btn-type-arrow-left {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 28px;
  margin: 0 48px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  cursor: pointer; }
  .btn-type-arrow-left:before {
    display: inline-block;
    width: 15px;
    height: 28px;
    content: url("../../img/arrow-right.svg"); }
  .btn-type-arrow-left:hover {
    content: url("../../img/arrow-right-hovered.svg"); }

.btn-close-modal {
  display: inline-block;
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNUwxMiAxMC41OUw2LjQxIDVMNSA2LjQxTDEwLjU5IDEyTDUgMTcuNTlMNi40MSAxOUwxMiAxMy40MUwxNy41OSAxOUwxOSAxNy41OUwxMy40MSAxMkwxOSA2LjQxWiIgZmlsbD0iI0YzOUMxMiIvPgo8L3N2Zz4K") center center no-repeat;
  background-size: contain; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.font-style-primary {
  font-family: "Poppins", sans-serif; }

.font-style-secondary {
  font-family: "Roboto", sans-serif; }

.font-size-10 {
  font-size: 10px; }

.font-size-11 {
  font-size: 11px; }

.font-size-12 {
  font-size: 12px; }

.font-size-14 {
  font-size: 14px; }

.font-size-15 {
  font-size: 15px; }

.font-size-16 {
  font-size: 16px; }

.font-size-18 {
  font-size: 18px; }

.font-size-20 {
  font-size: 20px; }

.font-size-24 {
  font-size: 24px; }

.font-size-27 {
  font-size: 27px; }

.font-size-28 {
  font-size: 28px; }

.font-size-30 {
  font-size: 30px; }

.font-size-40 {
  font-size: 40px; }

.font-size-44 {
  font-size: 44px; }

.fw-400 {
  font-weight: 400; }

.fw-500 {
  font-weight: 500; }

.fw-600 {
  font-weight: 600; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.color-white {
  color: #fff !important; }

.color-orange {
  color: #F39C12 !important; }

.color-black {
  color: #121212 !important; }

.color-deep-black {
  color: #000 !important; }

.hover-color-white:hover {
  color: #fff !important; }

.hover-color-orange:hover {
  color: #F39C12 !important; }

p {
  font-size: inherit; }

.h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  color: #1A1A1A;
  max-width: 680px; }
  .h1 span {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 86px;
    color: #F39C12; }
  @media (max-width: 480px) {
    .h1 {
      font-size: 42px;
      line-height: 120%; } }

.h2 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  color: #121212;
  text-transform: uppercase; }
  @media (max-width: 960px) {
    .h2 {
      font-size: 30px; } }

.h3 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.5px;
  text-transform: uppercase; }

.h4 {
  position: relative;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #1A1A1A; }

.with-numbering .number {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  font-size: 64px;
  line-height: 96px;
  font-weight: 400;
  color: #F39C12; }
  .with-numbering .number:first-letter {
    color: #fff !important; }

.position-relative {
  position: relative; }

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

@media (max-width: 1279px) {
  .column-on-tablet {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 740px) {
  .column-on-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (max-width: 740px) {
  .wrap-on-mobile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.justify-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

@media (max-width: 740px) {
  .justify-center-on-mobile {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (max-width: 740px) {
  .justify-start-on-mobile {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; } }

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media (max-width: 767px) {
  .align-center-on-mobile {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.align-center-on-tablet {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end; }

@media (max-width: 767px) {
  .align-self-start-on-mobile {
    -ms-flex-item-align: start;
    align-self: flex-start; } }

.text-center {
  text-align: center; }

.h2px {
  height: 2px; }

.h4px {
  height: 4px; }

.h6px {
  height: 6px; }

.h8px {
  height: 8px; }

.h10px {
  height: 10px; }

.h12px {
  height: 12px; }

.h16px {
  height: 16px; }

.h18px {
  height: 18px; }

.h20px {
  height: 20px; }

.h24px {
  height: 24px; }

.h32px {
  height: 32px; }

.h64px {
  height: 64px; }

.hidden {
  display: none; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none; } }

@media (min-width: 768px) {
  .visible-xs {
    display: none; } }

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 1140px) {
    .container {
      max-width: 100%;
      padding: 0 15px; } }

.modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background: rgba(0, 0, 0, 0.33);
  z-index: 9; }
  .modal.active {
    visibility: visible; }
  .modal .inner {
    position: relative;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.16)), to(rgba(255, 255, 255, 0.16))), #121212;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    -webkit-box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14); }

.thq-modal .inner {
  max-width: 340px;
  padding: 24px 61px 24px 24px; }
  @media (max-width: 480px) {
    .thq-modal .inner {
      width: 100%; } }

.thq-modal .title {
  opacity: 0.8; }

.thq-modal .description {
  opacity: 0.8;
  line-height: 120%;
  letter-spacing: 0.15px; }

.order-modal .inner {
  padding: 40px 30px; }

.order-modal .mdc-text-field {
  margin-bottom: 32px; }

.order-modal .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal .mdc-text-field__input {
      width: 100%; } }

.order-modal .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal .mdc-floating-label--float-above {
  color: #F39C12 !important; }

.order-modal-extended .inner {
  padding: 40px 30px; }

.order-modal-extended .mdc-text-field {
  margin-bottom: 32px; }

.order-modal-extended .mdc-text-field__input {
  width: 350px;
  height: 56px;
  border: none;
  background: #2a2a2a; }
  @media (max-width: 480px) {
    .order-modal-extended .mdc-text-field__input {
      width: 100%; } }

.order-modal-extended .mdc-line-ripple--active {
  background: #F39C12; }

.order-modal-extended .mdc-floating-label--float-above {
  color: #F39C12 !important; }

:root {
  --mdc-theme-primary:rgba(255, 255, 255, 0.6)!important;
  --mdc-theme-secondary: $orange!important; }

.mdc-typography, .mdc-text-field, .mdc-text-field__input {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px; }

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden; }
  body.no-scroll {
    overflow-y: hidden; }

.hamburger {
  width: 24px;
  height: 24px;
  background: url("../../img/burger.svg") no-repeat;
  z-index: 10; }
  .hamburger.is-active {
    background: url("../../img/burger-close.svg") no-repeat; }

.header .social {
  margin-left: 28px; }
  .header .social path {
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
  .header .social:hover path {
    fill: #F39C12; }

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media (max-width: 1079px) {
    .header {
      display: none; } }
  .header * {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .header .pre-header {
    background: #1A1A1A;
    height: 50px; }
  .header .lang .btn-lang {
    margin-right: 24px; }
  .header .address {
    margin-left: 48px; }
  .header .social {
    margin-left: 28px; }
    .header .social path {
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
    .header .social:hover path {
      fill: #F39C12; }
  .header .nav {
    padding: 24px 0; }
  .header .logo {
    width: 320px; }
    .header .logo img {
      width: 100%;
      height: auto; }
  .header .btn-header-nav:nth-child(-n + 3) {
    margin-right: 2%; }
  .header .btn-header-nav:nth-last-child(-n + 3) {
    margin-left: 2%; }
  .header.active {
    top: -50px; }
    .header.active .pre-header {
      top: -100%; }
    .header.active .nav {
      padding: 8px 0;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
      .header.active .nav .logo {
        width: 270px; }

.header-mobile {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 24px;
  background: #fff;
  z-index: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  @media (min-width: 1079px) {
    .header-mobile {
      display: none; } }
  .header-mobile .container {
    padding: 0 24px; }
  .header-mobile * {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.mobile-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%); }
  .mobile-nav .container {
    padding: 0 24px; }
  .mobile-nav .pre-header {
    background: #1A1A1A; }
  .mobile-nav .lang .btn-lang {
    margin-right: 24px; }
  .mobile-nav .social {
    margin: 0 13px; }
  .mobile-nav .logo {
    width: 100%;
    max-width: 320px; }
    .mobile-nav .logo img {
      width: 100%;
      height: auto; }
  .mobile-nav.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.hero {
  padding-top: 16px;
  overflow-x: hidden; }
  .hero .advantages .item {
    width: 100%;
    max-width: 100px;
    margin-right: 16px;
    font-size: 12px;
    line-height: 16px; }
  .hero .delivery {
    font-size: 18px;
    line-height: 27px;
    color: #F39C12; }
    .hero .delivery:after {
      content: '';
      display: inline-block;
      width: 189px;
      height: 1px;
      margin-left: 52px;
      background: #1A1A1A; }
  .hero .hero-img {
    position: absolute;
    left: auto;
    right: -165px;
    width: 100%;
    height: auto;
    max-width: 737px; }
  @media (max-width: 1079px) {
    .hero .hero-img {
      max-width: 55vw;
      top: 30px; } }
  @media (max-width: 767px) {
    .hero .hero-img {
      position: relative;
      right: -100px;
      max-width: 90vw; } }
  @media (max-width: 740px) {
    .hero .advantages .item {
      max-width: 92px;
      margin-top: 16px; } }
  @media (max-width: 480px) {
    .hero .delivery {
      font-size: 18px;
      line-height: 27px;
      color: #F39C12; }
      .hero .delivery:after {
        width: 20vw;
        margin-left: 10vw; } }

.section-form {
  background: #1A1A1A; }
  @media (max-width: 1099px) {
    .section-form form {
      max-width: 730px; } }
  .section-form .mdc-text-field {
    margin-bottom: 32px; }
    @media (max-width: 420px) {
      .section-form .mdc-text-field {
        width: 100%; } }
  .section-form .mdc-text-field__input {
    width: 350px;
    height: 56px;
    border: none;
    background: #2a2a2a; }
    @media (max-width: 420px) {
      .section-form .mdc-text-field__input {
        width: 100%; } }
  .section-form .mdc-line-ripple--active {
    background: #F39C12; }
  @media (max-width: 740px) {
    .section-form .btn-type-1 {
      margin-bottom: 32px; } }
  .section-form .mdc-floating-label--float-above {
    color: #F39C12 !important; }

.about-us {
  position: relative; }
  .about-us .about-us-img {
    position: absolute;
    bottom: 128px;
    left: auto;
    right: 0;
    width: 100%;
    height: auto;
    max-width: 705px;
    z-index: -1; }
    @media (max-width: 1100px) {
      .about-us .about-us-img {
        max-width: 48vw;
        bottom: 0; } }
    @media (max-width: 900px) {
      .about-us .about-us-img {
        position: relative;
        -ms-flex-item-align: end;
        align-self: flex-end;
        left: 15px;
        max-width: 70vw; } }
  .about-us .content {
    max-width: 730px; }
    @media (max-width: 1280px) {
      .about-us .content {
        max-width: 596px; } }
  .about-us p {
    line-height: 30px;
    color: #4A4A4A; }
    .about-us p:not(:last-child) {
      margin-bottom: 32px; }

.why-usa-cars {
  position: relative;
  background: #1A1A1A; }
  @media (max-width: 960px) {
    .why-usa-cars .h3 {
      font-size: 20px;
      line-height: 33px; } }
  .why-usa-cars .why-usa-img {
    position: absolute;
    bottom: 128px;
    left: 0;
    width: 100%;
    height: auto;
    max-width: 640px; }
    @media (max-width: 1280px) {
      .why-usa-cars .why-usa-img {
        position: relative;
        margin-top: 64px;
        bottom: 0; } }
    @media (max-width: 960px) {
      .why-usa-cars .why-usa-img {
        max-width: 70vw; } }
  .why-usa-cars .h2 {
    line-height: 130%; }
  .why-usa-cars .advantages-items {
    max-width: 436px; }
    @media (max-width: 1280px) {
      .why-usa-cars .advantages-items {
        padding-left: 104px;
        max-width: 60%; } }
    @media (max-width: 960px) {
      .why-usa-cars .advantages-items {
        padding-left: 104px;
        max-width: 100%; } }
    @media (max-width: 500px) {
      .why-usa-cars .advantages-items {
        padding-left: 86px; } }
    .why-usa-cars .advantages-items p {
      line-height: 21px; }
    .why-usa-cars .advantages-items .with-numbering .number {
      left: -30px; }
      @media (max-width: 500px) {
        .why-usa-cars .advantages-items .with-numbering .number {
          left: -10px;
          top: -15px; } }

.our-partners {
  background: #F7F7F7; }
  @media (max-width: 960px) {
    .our-partners .h2 {
      font-size: 30px; } }
  .our-partners .content {
    width: 100%;
    max-width: 740px; }
  .our-partners img {
    height: 48px;
    width: auto; }

.examples .slider {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

.examples .slide {
  padding: 0 15px; }

.examples .item {
  border: 1px solid #E0E0E0; }
  .examples .item img {
    width: 100%;
    height: auto; }
  .examples .item .text-content {
    width: 100%;
    padding: 0 24px; }
  .examples .item .price-row {
    color: #666666;
    font-weight: 500;
    font-size: 11px;
    line-height: 30px; }
    .examples .item .price-row .key {
      max-width: 90%; }
    .examples .item .price-row .value {
      max-width: 20%; }
  .examples .item .auction-price .key {
    color: #1A1A1A; }
  .examples .item .market-value {
    width: 100%;
    height: 50px;
    background: #F5F5F5; }
  .examples .item .final {
    color: #B3B3B3; }

.examples .slider-nav .num {
  min-width: 12px; }

.examples .slider-nav .line {
  display: inline-block;
  margin: 0 14px;
  width: 60px;
  height: 2px;
  background: #1A1A1A; }

.stages {
  background: url("../../img/staging-bg.png") no-repeat, #1A1A1A;
  background-size: 100%; }
  .stages .content {
    position: relative;
    padding: 96px 0 36px 0; }
    @media (min-width: 740px) {
      .stages .content .line {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #F39C12; } }
  .stages .item {
    position: relative;
    width: 50%;
    padding-right: 90px;
    padding-top: 5px; }
    @media (max-width: 990px) {
      .stages .item {
        padding-right: 30px; } }
    @media (max-width: 740px) {
      .stages .item {
        width: 100%;
        padding-bottom: 110px; } }
    @media (min-width: 740px) {
      .stages .item {
        border-top: 1px solid #F39C12; }
        .stages .item:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 0;
          left: auto;
          right: 0;
          -webkit-transform: translate(50%, -56%);
          -ms-transform: translate(50%, -56%);
          transform: translate(50%, -56%);
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #F39C12; } }
    .stages .item.with-numbering .number {
      -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      transform: translate(0, -100%); }
    .stages .item .deadlines {
      position: absolute;
      top: -24px;
      left: auto;
      right: 90px;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); }
    @media (min-width: 740px) {
      .stages .item.right {
        padding-right: 0;
        padding-left: 90px; }
        .stages .item.right:before {
          left: 0;
          -webkit-transform: translate(-50%, -56%);
          -ms-transform: translate(-50%, -56%);
          transform: translate(-50%, -56%); }
        .stages .item.right.with-numbering .number {
          left: 90px; }
        .stages .item.right .deadlines {
          left: auto;
          right: 0; } }
  @media (min-width: 740px) and (max-width: 990px) {
    .stages .item.right {
      padding-right: 0;
      padding-left: 30px; } }
    .stages .item p {
      line-height: 160%; }

.services .item {
  width: 50%; }
  @media (max-width: 740px) {
    .services .item {
      width: 100%; } }
  @media (min-width: 820px) {
    .services .item .title {
      letter-spacing: 4px; } }
  .services .item p {
    color: #4A4A4A;
    line-height: 33px; }
  .services .item.left {
    padding: 0 42px 0 96px;
    background: #F7F7F7; }
  .services .item.right {
    padding: 0 42px 0 96px;
    background: #F39C12; }
  @media (max-width: 1139px) {
    .services .item.left, .services .item.right {
      padding: 0 42px; }
    .services .item .title {
      font-size: 34px; } }
  @media (max-width: 500px) {
    .services .item.left, .services .item.right {
      padding: 0 18px; }
    .services .item .title {
      font-size: 30px; } }

.faq .title {
  position: relative;
  background: #1A1A1A;
  padding: 21px 95px 21px 30px;
  margin-bottom: 16px;
  cursor: pointer; }
  @media (max-width: 740px) {
    .faq .title {
      padding: 21px 48px 21px 30px; } }
  .faq .title:after {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUwxMSAxMUwyMSAxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==");
    position: absolute;
    width: 20px;
    height: 10px;
    left: auto;
    right: 18px;
    top: 22px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .faq .title.ui-state-active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.faq .content {
  padding: 0 95px 0 30px; }
  @media (max-width: 740px) {
    .faq .content {
      padding: 0 30px; } }
  .faq .content p {
    padding-bottom: 16px;
    color: #4A4A4A;
    line-height: 30px;
    letter-spacing: 0.1px; }

.footer {
  position: relative;
  background: #1A1A1A; }
  .footer .contact-info .h2 {
    color: #4A4A4A; }
  .footer .contact-info .social {
    margin-right: 26px; }
    .footer .contact-info .social path {
      -webkit-transition: 0.1s;
      -o-transition: 0.1s;
      transition: 0.1s; }
    .footer .contact-info .social:hover path {
      fill: #fff; }
  .footer .contact-info ul li {
    line-height: 150%; }
  .footer .map {
    position: absolute;
    width: 50%;
    height: 100%;
    left: auto;
    right: 0; }
    @media (max-width: 740px) {
      .footer .map {
        position: relative;
        width: 100%;
        height: 100vw; } }
